
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.card{
    width: 22%;
    height: 400px;
    box-shadow: 0px 5px 5px 3px rgba(132, 132, 132, 0.2);
    border-radius: 10px;
}
@media screen and (max-width: 900px) {
    .card{
        width: 53%;
    }
    
}
@media screen and (max-width: 600px) {
    .card{
        width: 63%;
    }
    
}
#play-btn{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.instruction{
    margin-top: 10px;
    
}
.instruction ul{
    font-size: small;
    font-weight: bold;
}
body{
    
}
.canvas-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    
}
#canvas{
    
    border: 1px solid black;
}